/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

.container h2 {
    margin: 0;
}

.container form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Make the input fields expand to the container's width */
    padding: 10px; /* Add padding to input fields */
    margin: 5px 0; /* Add vertical margin for input fields */
}

input[type="submit"] {
    padding: 10px 20px; /* Adjust padding for the submit button */
    margin: 10px 0; /* Add vertical margin for the submit button */
}

